<!DOCTYPE html>
<html lang="en">
<head>
  <title>Div Projects</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div>
  <h2>Querries</h2>           
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Date/Time</th>
        <th>Name</th>
        <th>Email</th>
        <th>Subject</th>
        <th>Message</th>
      </tr>
    </thead>
    <tbody>
     <%
          data.slice(0).reverse().map((dt)=>{
     %>
      <tr>
        <th><%=dt.date%></th>
        <td><%=dt.name%></td>
        <th><%=dt.email%></th>
        <td><%=dt.subject%></td>
        <th><%=dt.message%></th>
      </tr>
      <%
          })
      %>
    </tbody>
  </table>
</div>

</body>
</html>
