<!DOCTYPE html>
<html lang="en">
<head>
  <title>Div Projects</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div>
  <h2>Participants</h2>
  <p><b>Total participants registered : </b><%=count%></p>
  <p><a href="/">Home</a></p>            
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Participant</th>
        <th>Lead Name</th>
        <th>Email</th>
        <th>Status</th>
        <th>Ph No</th>
        <th>City</th>
        <th>ID</th>
        <th>College</th>
        <th>Country</th>
        <th>Github</th>
        <th>Linkedin</th>
      </tr>
    </thead>
    <tbody>
     <%
          pras.slice(0).reverse().map((dt)=>{
     %>
      <tr>
        <!-- <th><%=dt.pcipant_name%></th> -->
        <td><%=dt.pcipant_name%></td>
        <th><%=dt.pcipant_project%></th>
        <td><%=dt.pcipant_email%></td>
        <th><%=dt.pcipant_status%></th>
        <td><%=dt.pcipant_ph_no%></td>
        <td><%=dt.pcipant_city%></td>
        <td><%=dt._id%></td>
        <td><%=dt.pcipant_college%></td>
        <td><%=dt.pcipant_country%></td>
        <td><a href="<%=dt.pcipant_github%>" target="_blank"><%=dt.pcipant_github%></a></td>
         <td><a href="<%=dt.pcipant_linkedin%>" target="_blank"><%=dt.pcipant_linkedin%></a></td>
      </tr>
      <%
          })
      %>
    </tbody>
  </table>
</div>

</body>
</html>
