<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta content="DIVERSION is an event organized by ACM-CSI IEM Student Chapter which encourages participants to contribute in open-source. By contributing to an open-source project, participants receive immediate feedback on their development and programming skills." name="description" />
    <meta content="Open-Source,Hackathon,Github,Open-Source event,projects,mentorship,guidance" name="keywords" />

    <title>Register as a Participant</title>
    <style>
      .hide{
        visibility: hidden;
      }
    </style>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,600,600i,700,700i"
      rel="stylesheet"
    />
    <link rel="icon" href="assets/img/favicon_black.ico" type="image/x-icon" />
     <!-- Vendor CSS Files -->
     <link href="/assets/vendor/aos/aos.css" rel="stylesheet" />
     <link
       href="/assets/vendor/bootstrap/css/bootstrap.min.css"
       rel="stylesheet"
     />
     <link
       href="/assets/vendor/bootstrap-icons/bootstrap-icons.css"
       rel="stylesheet"
     />
     <link
       href="/assets/vendor/boxicons/css/boxicons.min.css"
       rel="stylesheet"
     />
     <link
       href="/assets/vendor/glightbox/css/glightbox.min.css"
       rel="stylesheet"
     />
     <link href="/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet" />
 
     <link rel="icon" href="assets/img/favicon_black.ico" type="image/x-icon" />

    <!-- Template Main CSS File -->
    <link href="assets/css/style.css" rel="stylesheet" />
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->
  </head>
  <body>

     <div class="preloader">
      <div class="box">
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
    <script>
      function preloader() {
        window.addEventListener('load', () => {
          document.querySelector('.preloader').classList.add('fade-out');
          setTimeout(() => {
            document.querySelector('.preloader').style.display = 'none';
          }, 600);
        });
      }
      preloader();
    </script>
    <header id="header" class="fixed-top d-flex align-items-center" style="margin-bottom: 100px;">
      <div class="container d-flex align-items-center justify-content-between">
        <div class="logo">
          <h1 class="text-light">
            <a href="/"> <img src="/assets/img/TheD.png" alt="Diversion" id="logo-img"><span></span></a>
          </h1>
          <!-- Uncomment below if you prefer to use an image logo -->
          <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
        </div>

        <nav id="navbar" class="navbar">
          <ul>
            <li>
              <a class="getstarted scrollto" href="/">Go back</a>
            </li>
          </ul>
          <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>
        <!-- .navbar -->
      </div>
    </header>
    <form name="f1" id="f1" action="register-pcipant" method="post">
      <div class="container register" style="margin-top:100px">
        <center>
          <div class="d-flex flex-row xyz" style="margin-bottom: 40px; justify-content: center;align-items: center;">
            <img
              src="assets/img/clients/about-img2.png"
              height="70px"
              width="85px"
              style="margin: 10px"
            />
            <img
              src="assets/img/clients/uem2.png"
              height="70px"
              width="85px"
              style="margin: 10px"
            />
            <img
              src="assets/img/clients/acm-iem.png"
              height="70px"
              width="85px"
              style="margin: 10px"
            />
          </div>
          
          <h1 >Register as a Participant </h1></center>
        <div class="accordion" id="accordionPanelsStayOpenExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                  Guidelines
                </button>
              </h2>
              <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                <div class="accordion-body">
                  <ul><li>You have to chose a project from the list of available projects.</li>
                  <li>If your project is not visible in the site, have patience it will be shown. If it takes longer you can contact us.</li>
                  <li>We expect you give your real identity.Fake identity can lead to disqualify from the event.
                    </li>
                    <li>You can register for ATMOST 2 projects.</li>
                  <li>Due to many registrations on some projects we have to close their registration.It might open later on.</li>
                  <li>After participation registration, the list will be send to respective lead. The lead will selcect the participants for their project and the rejected will be mailed.They can register again to another project.</li>
                  <li>If a project don't get required contributors on first round, registrations will be again open for that project.</li>
                 </ul>
                  
                  By clicking <strong>Next</strong> you agree to our mentioned <strong>guidelines</strong> . 
                 <br>
                  <br>
                  <p>
                    <input type="checkbox" required name="checkbox" value="check" id="agree"/> &nbsp;&nbsp;I agree to the Guidelines</p>
                    <button type="button" id="button1" class="btnSubmit "  data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">Next</button>
                         </div>
              </div>
            </div>
            <div class="accordion-item">
              <a class="accordion-header" id="panelsStayOpen-headingTwo">
               
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                Contributor Details
                </button>
              </h2>
              <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
                <div class="accordion-body">
                    <div class="form">
                        <div class="note">
                            <p>Details of Contributor</p>
                        </div>
                        <br>
                        <div class="form-content">
                            <div class="row">
                                    <div class="col-md-6">
                                      &nbsp;&nbsp;&nbsp;&nbsp;<label for="image">Personal Details : -</label>
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="mentor_name" name="pcipant_name" required placeholder="Name *" required/>
                                    </div>
                                    
                                     <div class="form-group">
                                        <input type="text" class="form-control" id="mentor_email" name="pcipant_email" required placeholder="E-mail *" required/>
                                    </div>
                                    
                                     <div class="form-group">
                                        <input type="text" class="form-control" id="mentor_ph_no" name="pcipant_ph_no" required placeholder="Ph-No *" required/>
                                    </div>
                                    
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="mentor_college" name="pcipant_college" required placeholder="College *" required/>
                                    </div>
                                     <div class="form-group">
                                        <input type="text" class="form-control" id="mentor_city" name="pcipant_city" required placeholder="City *" required/>
                                    </div>
                                    
                                     <div class="form-group">
                                        <input type="text" class="form-control" id="mentor_country" name="pcipant_country" required placeholder="Country *" required/>
                                    </div>
                                    </div>
                                    <br>
                            </div>
                            <br>
                            &nbsp;&nbsp;&nbsp;&nbsp;<label for="image">Your Socials : -</label>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="lead_linkedin" name="pcipant_linkedin" required placeholder="linkedin *" value=""/>
                                </div>
                              </div>
                              <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="lead_github" name="pcipant_github" required placeholder="Github *" value=""/>
                                </div>
                                   </div>
                              <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="lead_twitter" name="pcipant_twitter" placeholder="Twitter" value=""/>
                                </div>
                              </div>
                              <br>
                            <!-- <p align="right"><input type="submit" class="btnSubmit" data-bs-toggle="collapse" name="submit" value="Submit" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree"></p> -->
                            <button type="button" id="button1" class="btnSubmit " data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                           Next
                            </button>
                        </div>
                        
                    </div>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-controls="panelsStayOpen-collapseThree">
                  Project Details
                </button>
              </h2>
              <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
                <div class="accordion-body">
                  
                  <div class="col-md-6">
                                    <!-- &nbsp;&nbsp;&nbsp;&nbsp;<label for="image">Project to be contributed : -</label> -->
                                     <!-- <div class="form-group">
                                        <input type="text" class="form-control" id="mentor_past_exp" name="mentor_past_exp" required placeholder="Past Experience (if any) *" required/>
                                    </div> -->
                                    
                                     <!-- <div class="form-group">
                                          <input type="text" list="mentor_domain" name="mentor_domain" class="form-control" placeholder="Project Domain *"/>
                                          <select class="form-control" id="mentor_domain" name="mentor_domain">
                                            <option value="-1">Select your domain</option>
                                            <option value="AI-ML">AI-ML</option>
                                            <option value="WEB-DEV">WEB-DEV</option>
                                            <option value="APP-DEV">APP-DEV</option>
                                            <option value="IOT/HARDWARE">IOT/HARDWARE</option>
                                            <option value="OTHERS">OTHERS</option>
                                          </select>
                                    </div>
                                    
                                    <div class="form-group" id="prs">
                                      <a href="#" class="form-control">Select your project</a>
                                    </div> -->
                                    
                                    </div>
                                  

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
      <div class="container" data-aos="fade-up">
        <div class="section-title">
        <!-- <h2>Projects</h2> -->
          <p>Select Your Project</p> 
        </div>
       
        <div class="row" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-12">
  
            <ul id="portfolio-flters">
              <p> Note: Read the guidelines properly before choosing you project.Having trouble? <a href="/#contact">Contact us</a> </p>
              <li class="filter-active">Choose Your Track >></li>
              <li data-filter=".filter-web">WEB-DEV</li>
              <li data-filter=".filter-ai">AI-ML</li>
              <li data-filter=".filter-app">APP-DEV</li>
              <li data-filter=".filter-iot">IOT/HARDWARE</li>
              <li data-filter=".filter-misc">OTHERS</li>
              <li data-filter=".filter-full">Registrations closed</li>
            </ul>
          </div>
        </div>
        <div
          class="row portfolio-container hide"
          data-aos="fade-up"
          data-aos-delay="200"
          id="irs"
        >
            <%  
              data.slice(0).reverse().map((result)=>{
                
                if(result.project_status == 'FULL')
                  sb ='full';
                else if(result.project_category == 'WEB-DEV' && result.project_status == 'YES')
                  sb = 'web';
                else if(result.project_category == 'APP-DEV' && result.project_status == 'YES')
                  sb = 'app';
                else if(result.project_category == 'AI-ML' && result.project_status == 'YES')
                  sb = 'ai';
                else if(result.project_category == 'IOT/HARDWARE' && result.project_status == 'YES')
                  sb = 'iot';
                else
                  sb = 'misc';

                  if(result.project_status == 'YES'){
            %>
            <div class="col-lg-4 col-md-6 portfolio-item filter-<%=sb%>">
               <div class="portfolio-wrap">
                 <img
                   src="projectimg/<%=result.image%>"
                   class="img-fluid"
                   alt=""
                 />
                 <div class="portfolio-links">
                   <a
                     href="projectimg/<%=result.image%>"
                     data-gallery="portfolioGallery"
                     class="portfolio-lightbox"
                     title="<div style='color:#eb5d1e; font-size:20px;'><b><%=result.project_nm%></b></div> <br> <%=result.project_info%> <br> Stacks: 
                     
                     <%
                        result.project_tech.split(',').map((e)=>{
                     %>
                          <span class='badge badge-primary'><%=e%></span>
                     <%   
                        })
                     %>
                     
                     <br> Github: <a href='<%=result.project_link%>' target='_blank'><%=result.project_link%></a>"
                     >
                     <i class="bi bi-plus"></i>
                     </a>
                   <!-- <a href="#" title="More Details"
                     ><i class="bi bi-link"></i
                   ></a> -->
                 </div>
                 <div class="portfolio-info">
                   <h4><%=result.project_nm%></h4>
                   <p><%=data.project_info%></p>
                 </div>
               </div>
     
               <div style="display: flex;
               justify-content: center;
               align-items: center;">
               <label>
                <input type="radio" id="project_select" name="pcipant_project" value="<%=result.project_nm%>" required>
                <span>Select this project</span>
              </label>
            </div>
            </div>
            
            <%
                  }

              if(result.project_status == 'FULL'){

            %>
            
                <div class="col-lg-4 col-md-6 portfolio-item filter-<%=sb%>">
               <div class="portfolio-wrap">
                 <img
                   src="projectimg/<%=result.image%>"
                   class="img-fluid"
                   alt=""
                 />
                 <div class="portfolio-links">
                   <a
                     href="projectimg/<%=result.image%>"
                     data-gallery="portfolioGallery"
                     class="portfolio-lightbox"
                     title="<div style='color:#eb5d1e; font-size:20px;'><b><%=result.project_nm%></b></div> <br> <%=result.project_info%> <br> Stacks: 
                     
                     <%
                        result.project_tech.split(',').map((e)=>{
                     %>
                          <span class='badge badge-primary'><%=e%></span>
                     <%   
                        })
                     %>
                     
                     <br> Github: <a href='<%=result.project_link%>' target='_blank'><%=result.project_link%></a>"
                     >
                     <i class="bi bi-plus"></i>
                     </a>
                   <!-- <a href="#" title="More Details"
                     ><i class="bi bi-link"></i
                   ></a> -->
                 </div>
                 <div class="portfolio-info">
                   <h4><%=result.project_nm%></h4>
                   <p><%=data.project_info%></p>
                 </div>
               </div>  
               </div>

            <%
              }      
              })
            %>
        </div>
      </div>
    </section>

    <style>
       label {
	 display: flex;
	 cursor: pointer;
	 font-weight: 500;
	 position: relative;
	 overflow: hidden;
	 margin-bottom: 0.375em;
	/* Accessible outline */
	/* Remove comment to use */
	/* &:focus-within {
		 outline: .125em solid $primary-color;
	}
	 */
}
 label input {
	 position: absolute;
	 left: -9999px;
}
 label input:checked + span {
	 background-color: #d6d6e5;
}
 label input:checked + span:before {
	 box-shadow: inset 0 0 0 0.4375em #00005c;
}
 label span {
	 display: flex;
	 align-items: center;
	 padding: 0.375em 0.75em 0.375em 0.375em;
	 border-radius: 99em;
	 transition: 0.25s ease;
}
 label span:hover {
	 background-color: #d6d6e5;
}
 label span:before {
	 display: flex;
	 flex-shrink: 0;
	 content: "";
	 background-color: #fff;
	 width: 1.5em;
	 height: 1.5em;
	 border-radius: 50%;
	 margin-right: 0.375em;
	 transition: 0.25s ease;
	 box-shadow: inset 0 0 0 0.125em #00005c;
}
    </style>
                  <input type="submit" class="btnSubmit" value="Submit">
                </div>
              </div>
            </div>
          </div>
      </div>
      </form>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>
  <script src="script.js"></script>
   <!-- Vendor JS Files -->
   <script src="assets/vendor/aos/aos.js"></script>
   <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
   <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
   <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
   <script src="assets/vendor/php-email-form/validate.js"></script>
   <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>

   <!-- Template Main JS File -->
   <script src="assets/js/main.js"></script>
   <script src="assets/js/script.js"></script>
   <!-- bootstrap new -->
   <script
     src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
     integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
     crossorigin="anonymous"
   ></script>
   <script
     src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
     integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
     crossorigin="anonymous"
   ></script>
   <script
     src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
     integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
     crossorigin="anonymous"
   ></script>
</html>
